<h2>{{ examData.title }}</h2>
<p><strong>Instructions:</strong> {{ examData.instructions }}</p>
<p><strong>Duration:</strong> {{ examData.duration_in_minutes }} minutes</p>
<div class="video-grid">
    <div *ngIf="localStream" class="video-container">
        <video [srcObject]="localStream" autoplay [muted]="true" playsinline></video>
        <div class="overlay">You</div>
    </div>
    <div *ngFor="let remoteStreamInfo of remoteStreams; trackBy: trackRemoteStream" class="video-container">
        <video [srcObject]="remoteStreamInfo.stream" autoplay playsinline></video>
        <div class="overlay">{{ remoteStreamInfo.firstName }} {{ remoteStreamInfo.lastName }}</div>
    </div>
</div>

<app-chat [peer]="peer" [socket]="socket"></app-chat>
<app-controls [stream]="localStream" [socket]="socket"></app-controls>
<app-ai-proctor *ngIf="examData.is_AI_proctored && this.authService.user()?.role=='student'"
    [examId]="examData.id"></app-ai-proctor>