<div class="exam-list">
    <h2>Upcoming Exams</h2>
    <div *ngFor="let exam of exams">
        <div *ngIf="isActiveOrUpcoming(exam.endTime)" class="exam-card">
            <div class="exam-header">
                <span class="exam-title">{{ exam.title }}</span>
                <span *ngIf="exam.exam_type" class="exam-tag">{{ exam.exam_type }} Mode</span>
                <span *ngIf="exam.is_AI_proctored" class="exam-tag ai-proctored">AI Proctored</span>
                <button (click)="startExam(exam)" [disabled]="!canStartExam(exam.scheduled_at)" class="start-button">
                    Start
                </button>
            </div>
            <div class="exam-info">
                <span class="exam-time">Scheduled at: {{ exam.scheduled_at | date:'short' }}</span>
                <span class="exam-duration">Duration: {{ exam.duration_in_minutes }} minutes</span>
            </div>
        </div>
    </div>
</div>