.btn-leave {
    background-color: red;
    color: white;
}
/* Button container styling */
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #ffffff;
    background-color: #e3e3e3;
}

/* Disabled state for buttons */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    transform: none;
}
