<app-dashboard-navbar></app-dashboard-navbar>
<div class="dashboard-content">
    <!-- Dashboard specific content here -->
    <h2>Welcome to the Super Admin Dashboard!</h2>

    <!-- Button to open form for creating College Admin -->
    <button (click)="openCollegeAdminForm()">Create College Admin</button>

    <!-- Form for creating College Admin -->
    <form *ngIf="showCollegeAdminForm" [formGroup]="collegeAdminForm" (ngSubmit)="onCreateCollegeAdmin()">
        <label for="first_name">First Name</label>
        <input id="first_name" formControlName="first_name" type="text" required />

        <label for="last_name">Last Name</label>
        <input id="last_name" formControlName="last_name" type="text" required />

        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" required />

        <button type="submit">Create</button>
    </form>

    <!-- Display created user details -->
    <div *ngIf="createdUserDetails">
        <h2>College Admin Created Successfully</h2>
        <p><strong>Username:</strong> {{ createdUserDetails.username }}</p>
        <p><strong>Email:</strong> {{ createdUserDetails.email }}</p>
        <p><strong>First Name:</strong> {{ createdUserDetails.first_name }}</p>
        <p><strong>Last Name:</strong> {{ createdUserDetails.last_name }}</p>
        <p><strong>Password:</strong> {{ createdUserDetails.password }}</p>
    </div>
</div>