<app-dashboard-navbar></app-dashboard-navbar>
<div class="dashboard-content">
    <!-- Dashboard specific content here -->
    <h2>Welcome to the College Admin Dashboard!</h2>

    <!-- Button to open form for creating Student -->
    <button (click)="openStudentForm()">Create Student</button>

    <!-- Form for creating Student -->
    <form *ngIf="showStudentForm" [formGroup]="studentForm" (ngSubmit)="onCreateStudent()">
        <label for="first_name">First Name</label>
        <input id="first_name" formControlName="first_name" type="text" required />

        <label for="last_name">Last Name</label>
        <input id="last_name" formControlName="last_name" type="text" required />

        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" required />

        <button type="submit">Create</button>
    </form>

    <!-- Button to create Exam -->
    <button (click)="onCreateExam()">Create Exam</button>

    <!-- Display created user details -->
    <div *ngIf="createdUserDetails">
        <h4>Student Created Successfully</h4>
        <p><strong>Username:</strong> {{ createdUserDetails.username }}</p>
        <p><strong>Email:</strong> {{ createdUserDetails.email }}</p>
        <p><strong>First Name:</strong> {{ createdUserDetails.first_name }}</p>
        <p><strong>Last Name:</strong> {{ createdUserDetails.last_name }}</p>
        <p><strong>Password:</strong> Same as Username</p>
    </div>
</div>